
.App * {
  box-sizing: border-box;
}

.App {
  display: block;
  height: auto;
}

#show-banner-btn {
  position: absolute;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
